/* --------------------------
              Font 
-----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;500;600;700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #000633;
}